<div class="profile">
  <div class="heading-1">My Profile</div>
  <div class="profile__form-wrapper">
    <form class="profile__form">
      <custom-input
        label="Name"
        type="text"
        [control]="getControl(profileForm, 'name')"
        [error]="displayError(profileForm, 'name')"
        [formType]="formType"
      ></custom-input>
      <custom-input
        label="Surname"
        type="text"
        [control]="getControl(profileForm, 'surname')"
        [error]="displayError(profileForm, 'surname')"
        [formType]="formType"
      ></custom-input>
      <custom-input
        label="Email"
        type="text"
        [control]="getControl(profileForm, 'email')"
        [error]="displayError(profileForm, 'email')"
        [formType]="formType"
      ></custom-input>
      <custom-input
        label="Username"
        type="text"
        [control]="getControl(profileForm, 'username')"
        [error]="displayError(profileForm, 'username')"
        [formType]="formType"
      ></custom-input>
    </form>
  </div>
  <div class="profile__btn-container">
    <custom-button
      buttonText="Update"
      [buttonClass]="'btn--black btn--big'"
      (onClick)="updateData()"
      [disabled]="!profileForm.valid"
    ></custom-button>
    <custom-button
      buttonText="Edit Password"
      [buttonClass]="'btn--blue btn--big'"
      (onClick)="editPassword()"
    ></custom-button>
  </div>
  <div class="profile__form-wrapper" *ngIf="isChangePassword">
    <form class="profile__form profile__form--password">
      <custom-input
        label="Old Password"
        type="password"
        [control]="getControl(passwordForm, 'oldPassword')"
        [error]="displayError(passwordForm, 'oldPassword')"
        [formType]="formType"
      ></custom-input>
      <custom-input
        label="New Password"
        type="password"
        [control]="getControl(passwordForm, 'newPassword')"
        [error]="displayError(passwordForm, 'newPassword')"
        [formType]="formType"
      ></custom-input>
      <custom-input
        label="Confirm New Password"
        type="password"
        [control]="getControl(passwordForm, 'confirmNewPassword')"
        [error]="displayError(passwordForm, 'confirmNewPassword')"
      >
      </custom-input>
    </form>
    <custom-button
      buttonText="Save Password"
      [buttonClass]="'btn--blue btn--big'"
      (onClick)="savePassword()"
      [disabled]="!passwordForm.valid"
    ></custom-button>
  </div>
</div>
