.input-container {
  margin: 2rem 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__label {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0.2rem;
    font-size: 1.6rem;
    transition: all 0.5s;
    pointer-events: none;

    &--error {
      color: red;
    }
  }

  &__input {
    width: 95%;
    outline: none;
    border: 1px solid gray;
    border-radius: 0.8rem;
    padding: 1.5rem 3rem;

    &:focus ~ label,
    &:not(:invalid) ~ label {
      top: 0;
      left: 2rem;
      font-size: 1.2rem;
    }

    &--error {
      border: 1px solid red;
    }
  }
}
