.input-wrapper {
  position: relative;
}
.input-container {
  margin: 2rem 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__label {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0.2rem;
    font-size: 1.6rem;
    transition: all 0.5s;
    pointer-events: none;

    &--error {
      color: #a52b2b;
    }
  }

  &__input {
    width: 95%;
    outline: none;
    border: 1px solid gray;
    border-radius: 0.8rem;
    padding: 1.5rem 3rem;

    &:focus ~ label,
    &:not(:invalid) ~ label {
      top: 0;
      left: 2rem;
      font-size: 1.2rem;
    }

    &--error {
      border: 1px solid #a52b2b;
    }
  }
}

.error-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: calc(100% + 0.2rem);
  transform: translateY(-50%);
  width: 100%;

  &__icon {
    cursor: pointer;
    animation: scale-in 0.5s;
  }

  &__text {
    display: none;
    background-color: #eb8080;
    color: #a52b2b;
    font-weight: 600;
    font-size: 1.4rem;
    position: absolute;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 2rem;
  }

  &__icon:hover + &__text-wrapper > &__text {
    display: inline-block;
  }

  &__text-wrapper {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
  }
}
