<div class="registration-container">
  <div class="registration-container__left">
    <img
      src="../../../../assets/registration.jpg"
      class="registration-container__left__image"
      alt=""
    />
    <div class="registration-container__left__wrapper"></div>
    <a href="/auth/login" class="registration-container__left__text"
      >Already have an account? Login</a
    >
  </div>
  <div class="registration-container__right">
    <div class="registration-container__right__title-container">
      <div
        class="heading-1 registration-container__right__title-container__title"
      >
        Welcome to Trendo
      </div>
      <p
        class="label label--regular registration-container__right__title-container__text"
      >
        Create your account
      </p>
    </div>
    <form class="registration-container__form">
      <custom-input
        label="Name"
        type="text"
        [control]="getControl('name')"
        [error]="displayError('name')"
      ></custom-input>
      <custom-input
        label="Surname"
        type="text"
        [control]="getControl('surname')"
        [error]="displayError('surname')"
      ></custom-input>
      <custom-input
        label="Email"
        type="text"
        [control]="getControl('email')"
        [error]="displayError('email')"
      ></custom-input>
      <custom-input
        label="Username"
        type="text"
        [control]="getControl('username')"
        [error]="displayError('username')"
        [formType]="formType"
      ></custom-input>
      <custom-input
        label="Password"
        type="password"
        [control]="getControl('password')"
        [error]="displayError('password')"
      ></custom-input>
      <custom-input
        label="Confirm password"
        type="password"
        [control]="getControl('confirmPassword')"
        [error]="displayError('confirmPassword')"
        [passwordNoMatch]="registrationForm.errors?.passwordNoMatch"
      ></custom-input>
    </form>
    <custom-button
      buttonText="Create account"
      [buttonClass]="'btn--black btn--big'"
      (onClick)="registration()"
      [disabled]="
        registrationForm.invalid ||
        !getControl('name').valid ||
        !getControl('surname').valid ||
        !getControl('email').valid
      "
    ></custom-button>
  </div>
</div>
