.product-carousel-wrapper {
  display: flex;
  width: calc(100vw - 10rem);
  position: relative;
}

.product-carousel {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
  position: relative;
  display: flex;
}

.carousel-container {
  width: calc(100vw - 10rem);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10rem;

    &__btn-container {
      display: flex;
      & > *:last-child {
        margin-left: 1rem;
      }
    }
  }

  &__wrapper,
  &__carousel {
    width: 100%;
  }

  &__carousel {
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    display: flex;
  }
}
