<div class="carousel-container">
  <div class="carousel-container__header">
    <div class="heading-1 heading-1--bold">Popular product</div>
    <div
      class="carousel-container__header__btn-container"
      (click)="handleClick($event)"
    >
      <custom-button
        data-action="left"
        [disabled]="disabledButtons[0]"
        [buttonClass]="'btn--circle btn--grey'"
      >
        <svg-icon [path]="'../../../../assets/svgs/arrowLeft.svg'"></svg-icon>
      </custom-button>
      <custom-button
        data-action="right"
        [disabled]="disabledButtons[1]"
        [buttonClass]="'btn--circle btn--grey'"
      >
        <svg-icon [path]="'../../../../assets/svgs/arrowRight.svg'"></svg-icon>
      </custom-button>
    </div>
  </div>
  <div class="carousel-container__wrapper">
    <div class="carousel-container__carousel" #slider>
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
</div>
