<div class="slider-wrapper">
  <div
    class="slider"
    (mousedown)="handleMousedown()"
    (mousemove)="handleMousemove()"
    (mouseup)="handleMouseup()"
    #slider
  >
    <img
      src="../../../../assets/image1.jpg"
      alt="Addidas banner"
      class="slider__img slider__img--1"
    />
    <img
      src="../../../../assets/image2.jpg"
      alt="Nike banner"
      class="slider__img slider__img--2"
    />
    <img
      src="../../../../assets/image3.avif"
      alt="Puma banner"
      class="slider__img slider__img--3"
    />
    <img
      src="../../../../assets/image4.jpg"
      alt="NB banner"
      class="slider__img slider__img--4"
    />
  </div>
</div>
