<nav class="navigation">
  <div class="navigation__logo" (click)="navigateHome()">Trendo</div>
  <ul class="navigation__list">
    <li class="navigation__item">Men</li>
    <li class="navigation__item">Women</li>
    <li class="navigation__item">Kids</li>
    <li class="navigation__item">Sale</li>
  </ul>
  <div class="navigation__container">
    <search-input></search-input>
    <favorite-button></favorite-button>
    <cart-button></cart-button>
    <profile-button></profile-button>
  </div>
</nav>
