<div class="product-container" *ngIf="product">
  <div class="product-container__images">
    <div class="product-container__images__small">
      <ng-container *ngFor="let image of product.images; let i = index">
        <img
          [src]="image"
          alt="Image"
          class="product-container__images__small__img"
          (click)="selectImage(i)"
        />
      </ng-container>
    </div>
    <div class="product-container__images__big">
      <img
        [src]="selectedImage"
        alt="Image"
        class="product-container__images__big__img"
      />
    </div>
  </div>
  <div class="product-container__data">
    <div class="product-container__data__company-logo">
      <img
        [src]="product.companyLogo"
        alt="Company logo"
        class="product-container__data__company-logo__img"
      />
      <div class="product-container__data__company-logo__text">
        {{ product.companyName }}
      </div>
    </div>
    <h1 class="product-container__data__title">
      {{ product.title }}
    </h1>
    <span class="product-container__data__subtitle"> Men's shoes </span>
    <ng-container [ngSwitch]="product.rating">
      <div *ngSwitchCase="'1'" class="product-container__data__rating">
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
      </div>
      <div *ngSwitchCase="'2'" class="product-container__data__rating">
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
      </div>
      <div *ngSwitchCase="'3'" class="product-container__data__rating">
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
      </div>
      <div *ngSwitchCase="'4'" class="product-container__data__rating">
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/emptyStar.svg'"></svg-icon>
      </div>
      <div *ngSwitchDefault class="product-container__data__rating">
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
        <svg-icon [path]="'../../../../assets/svgs/star.svg'"></svg-icon>
      </div>
    </ng-container>
    <div class="product-container__data__price">
      {{ product.price | currency }}
    </div>
    <div class="product-container__data__similar-products">
      <img
        *ngFor="let product of allProducts"
        class="product-container__data__similar-products__img product-container__data__similar-products__img"
        [src]="product.images[0]"
        alt="Other product"
        (click)="navigateProduct(product.id)"
      />
    </div>
    <div class="product-container__data__select-size-content">
      <div class="product-container__data__select-size-content__title">
        Select size
      </div>
      <div
        class="product-container__data__select-size-content__error"
        *ngIf="showError"
      >
        *Please select size.
      </div>
    </div>
    <div class="product-container__data__sizes">
      <div
        *ngFor="let size of product.sizes; let i = index"
        class="product-container__data__size"
      >
        <input
          class="product-container__data__size__radio"
          type="radio"
          name="sizeRadio"
          [attr.id]="'sizeRadio' + i"
          [value]="size"
          (change)="selectSize($event)"
        />
        <label
          class="product-container__data__size__value"
          [attr.for]="'sizeRadio' + i"
          >{{ size }}</label
        >
      </div>
    </div>
    <div class="product-container__data__quantity">
      <form
        [formGroup]="quantityForm"
        class="product-container__data__quantity__form"
      >
        <input
          type="text"
          class="product-container__data__quantity__input"
          [formControl]="getControl('quantity')"
          [disabled]="false"
        />
      </form>
      <div class="product-container__data__quantity__btn-container">
        <button
          class="product-container__data__quantity__btn product-container__data__quantity__btn__minus"
          (click)="decreaseProductNumber()"
        >
          -
        </button>
        <button
          class="product-container__data__quantity__btn product-container__data__quantity__btn__plus"
          (click)="increaseProductNumber()"
        >
          +
        </button>
      </div>
    </div>
    <div class="product-container__data__btn-container">
      <button
        class="product-container__data__btn-container__cart"
        (click)="addToCart()"
      >
        <svg-icon [path]="'../../../../assets/svgs/cart.svg'"></svg-icon>

        <p class="product-container__data__btn-container__cart__text">
          Add to cart
        </p>
      </button>
      <button
        class="product-container__data__btn-container__favorite"
        (click)="changeFavoritesList()"
      >
        <svg-icon [path]="'../../../../assets/svgs/emptyHeart.svg'"></svg-icon>
      </button>
    </div>
    <div class="product-container__data__free-delivery">
      <svg-icon [path]="'../../../../assets/svgs/delivery.svg'"></svg-icon>

      <div class="product-container__data__free-delivery__text">
        Free delivery on order oves $30.00
      </div>
    </div>
  </div>
</div>
